@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
  color: blueviolet;
  text-shadow: 5px 0 0 rgb(47, 255, 245);
  text-align: center;
  font-family: "Source Code Pro", serif;
}
.equipe {
  text-align: center;
  font-size: large;
}

body {
  background-image: url("baka.jpg");
  background-size: 100%;
}
.entête {
  color: aliceblue;
}
.end {
  color: aliceblue;
}
a > twitch:visited {
  background-color: aliceblue;
}
.twitch {
  color: rgb(71, 145, 230);
  justify-content: flex-end;
}
